<div class="p-5 bg-light">
    <h1 class="display-3">kalum</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore iure hic delectus! Odit fugit amet iure, molestiae fugiat quasi in nulla voluptatibus. Fuga corporis mollitia quaerat animi architecto perferendis ea.</p>
</div>

<div *ngIf="clases.length" class="card border-primary mt-3">
    <div class="card-header">
        Clases
    </div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Clases</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Descripción</th>
                    <th>Ciclo</th>
                    <th>Cupo Máximo</th>
                    <th>Cupo Minimo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of clases; let i = index">
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{item.descripcion}}</td>
                    <td>{{item.ciclo}}</td>
                    <td>{{item.cupoMaximo}}</td>
                    <td>{{item.cupoMinimo}}</td>
                    <td>
                        <button type="button" name="asignacion" class="btn btn-primary btn-sm">Asignación</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h1>{{title}}</h1>
<h5>{{message}}</h5>
<img [src]="image" alt="Imagen gift">